.hero {
    background: linear-gradient(rgba(0, 51, 153, 0.8), rgba(0, 51, 153, 0.8)),
    url('https://images.unsplash.com/photo-1578575437130-527eed3abbec?q=80&w=1200&auto=format&fit=crop');

    background-size: cover;
    background-position: center;
    height: 90vh;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

section {
    scroll-margin-top: 80px;
}